<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
</head>
<body>
    <h1>Formulario de registro de usuario</h1>
    <form action="/registered_user" method="POST">
        <label for="username">Username</label>
        <input type="username" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="phone">Phone</label>
        <input type="phone" name="phone" id="phone" required>
        <button type="submit">Registrarse</button>
    </form>
    <a href="/login_user">Login</a>
    
</body>
</html>